<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Add Flight Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body ng-app="addFlight" ng-controller="addFlightController">
    <div style="height: 100vh">
      <div class="container">
        <div class="row" style="height: 100%; z-index: 1">
          <div class="col-lg-3"></div>
          <div
            class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center align-items-center"
          >
            <div
              class="landingPage"
              style="
                height: 100%;
                width: 90%;
                background-color: white;
                margin-top: 2.5%;
              "
            >
              <hgroup>
                <div
                  class="newTitle1"
                  style="text-align: center; margin-top: 2%; font-size: 50px"
                >
                  Add Flight Details
                </div>
                <div
                  style="text-align: center; font-size: 24; font-weight: 300"
                >
                  Only for managers
                </div>
              </hgroup>
              <form autocomplete="off" onSubmit="">
                <div class="d-flex flex-column">
                  <div class="form-group row" style="margin-top: 10%">
                    <div class="col-10 mx-auto">
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        ng-model="flight.id"
                        placeholder="Flight ID"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        ng-model="flight.name"
                        placeholder="Flight Name"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        type="text"
                        class="form-control"
                        id="from"
                        ng-model="flight.from"
                        placeholder="From"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        type="text"
                        class="form-control"
                        id="to"
                        ng-model="flight.to"
                        placeholder="To"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        id="dot"
                        ng-model="flight.dot"
                        class="form-control"
                        type="date"
                        placeholder="Date Of Travel"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        id="stime"
                        ng-model="flight.stime"
                        class="form-control"
                        type="time"
                        placeholder="Starting Time"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        id="etime"
                        ng-model="flight.etime"
                        class="form-control"
                        type="time"
                        placeholder="Reaching Time"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        type="number"
                        class="form-control"
                        id="num_eco"
                        ng-model="flight.num_eco"
                        placeholder="No. Of Economy Seats"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        type="number"
                        class="form-control"
                        id="num_pre_eco"
                        ng-model="flight.num_pre_eco"
                        placeholder="No. Of Premium Economy Seats"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group row" style="margin-top: 3%">
                    <div class="col-10 mx-auto">
                      <input
                        type="number"
                        class="form-control"
                        id="num_business"
                        ng-model="flight.num_business"
                        placeholder="No. Of Business Seats"
                        required
                      />
                    </div>
                  </div>

                  <div
                    class="form-group row"
                    style="margin-top: 7%; margin-bottom: 10%"
                  >
                    <div class="col-md-10 col-sm-10 col-xs-10 mx-auto">
                      <button
                        ng-click="flight.save()"
                        class="btn btn-success btn-block w-100"
                      >
                        ADD TO DATABASE
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div
        class="cyan-800 background1"
        style="width: 100%; height: 115vh"
      ></div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>

  <script>
    function printDetails() {
      const stime = document.getElementById("stime").value;
      const etime = document.getElementById("dot").value;
      console.log(stime, etime);
      const dot1 = document.getElementById("dot");
      dot1.value = "2011-12-12";
    }
    var addFlight = angular.module("addFlight", []);
    addFlight.config([
      "$httpProvider",
      function ($httpProvider) {
        $httpProvider.defaults.useXDomain = true;
        delete $httpProvider.defaults.headers.common["X-Requested-With"];
      },
    ]);

    addFlight.controller(
      "addFlightController",
      function ($scope, $http, $templateCache) {
        $scope.flight = {
          id: "",
          name: "",
          from: "",
          to: "",
          dot: "",
          stime: "",
          etime: "",
          num_eco: null,
          num_pre_eco: null,
          num_business: null,
          toSend: {},

          save: function () {
            var method = "POST";
            var inserturl = "http://localhost:1212/addflight";

            var flightObj = $scope.flight;
            flightObj.validate();
            console.log("validated successfully");
            if (!flightObj.isUniqueID()) {
              alert("Flight ID already exists");
              return;
            }
            var toSendString = JSON.stringify(flightObj.toSend);
            if (toSendString == "{}") {
              alert("Enter valid data");
              return;
            }
            console.log("Data is valid");
            $http.post(inserturl, toSendString).then(function (response) {
              console.log(response);
              if (response.status == 200) {
                console.log("success");
                alert("User saved successfully");
                flightObj.listFlights();
              } else {
                console.log("error");
                alert("Error while saving");
              }
            });
          },

          listFlights: function () {
            var url = "http://localhost:1212/getflights";
            $http.get(url).then(function (response) {
              console.log(response.data);
            });
          },

          isUniqueID: function () {
            var url = "http://localhost:1212/getflights";
            $http.get(url).then(function (response) {
              var ids = response.data;
              return ids.includes($scope.flight.id);
            });
          },

          validate: function () {
            var flightObj = $scope.flight;

            function isEmpty() {
              return !(
                flightObj.id &&
                flightObj.name &&
                flightObj.from &&
                flightObj.to &&
                flightObj.dot &&
                flightObj.stime &&
                flightObj.etime &&
                num_business &&
                num_eco &&
                num_pre_eco
              );
            }

            function validateName() {
              return flightObj.id.length == 6 && flightObj.id.includes("-");
            }

            function convertTime(time) {
              var hours = time.getHours().toString();
              var minutes = time.getMinutes().toString();
              if (minutes == "0") {
                minutes = minutes + "0";
              }
              if (hours == "0") {
                hours = hours + "0";
              }

              return hours + ":" + minutes;
            }
            if (!isEmpty() && validateName()) {
              var dot = flightObj.dot;
              var dot_loc = "";
              dot_loc =
                dot_loc +
                dot.getDate().toString() +
                "." +
                (dot.getMonth() + 1).toString() +
                "." +
                dot.getFullYear().toString();

              flightObj.toSend = {
                id: flightObj.id,
                name: flightObj.name,
                from: flightObj.from,
                to: flightObj.to,
                dot: dot_loc,
                stime: convertTime(flightObj.stime),
                etime: convertTime(flightObj.etime),
                num_business: flightObj.num_business,
                num_eco: flightObj.num_eco,
                num_pre_eco: flightObj.num_pre_eco,
              };
              console.log(flightObj.toSend);
            } else {
              alert("please enter valid details");
            }
          },
        };
      }
    );
  </script>
</html>
