@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Oswald:wght@700&display=swap");

.navbar-collapse.collapse.in {
  display: inline-block!important;
}
.cyan-700 {
  background-color: #087990;
}

.cyan-800 {
  background-color: #055160;
}

.blue-100 {
  background-color: #cfe2ff;
}

.blue-300 {
  background-color: #6ea8fe;
}

.gray-200 {
  background-color: #e9ecef;
}

.gray-300 {
  background-color: #dee2e6;
}

.gray-400 {
  background-color: #ced4da;
}

.teal-400 {
  background-color: #4dd4ac;
}

.teal-500 {
  background-color: #20c997;
}

.teal-600 {
  background-color: #1aa179;
}

.yellow-300 {
  background-color: #ffda6a;
}

.hi {
  background-color: #ffda6a;
}

.landingPage {
  font-family: "Montserrat", sans-serif;
  font-size: 18;
}

.newTitle {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.newTitle1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2em,6vw,4em);
  font-weight: 600;
}

.subheading{
  font-size: clamp(0.8em,1.2vw,3em);
}

.card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}

.background1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.background2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -100;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: rgb(114, 113, 113);
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}


input[type="time"]:before {
  content: attr(placeholder) !important;
  color: rgb(114, 113, 113);
  margin-right: 0.5em;
}
input[type="time"]:focus:before,
input[type="time"]:valid:before {
  content: "";
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

.rating {

  width: 20vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input{ display:none;}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 6vw;
  cursor: pointer;
  color: #ffda6a;
}
.rating > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
  color:rgb(255, 183, 0);
}

.rating > input:checked ~ label:before{
  opacity:1;
  color: rgb(255, 183, 0)
}

.rating:hover > input:checked ~ label:before{ opacity: 0.8; color: rgb(255, 183, 0);}

h1, p{   
  text-align: center;
}

h1{
    margin-top:150px;
}

p{ font-size: 1.2rem;}
@media only screen and (max-width: 600px) {
  h1{font-size: 14px;}
  p{font-size: 12px;}
}

.carousel_img{
  height: 50vh;
  object-fit: cover;
}

.index-card-text{
  font-size: clamp(0.7em,1.2vw,2em);
}
.index-card-text-1{
  font-size: clamp(0.6em,1.2vw,2em);
}

.flight-card-text{
  font-size: clamp(0.9em,2.5vw,1.4em);
}

.flight-card-text-1{
  font-size: clamp(0.9em,2.5vw,1.4em);
  font-weight: 600;
}
.flight-card-btn{
  font-size: clamp(0.75em,1.8vw,1em);
}
.flight-time{
  font-weight: 600;
  font-size: clamp(0.9em,2vw,1.4em);
}
.flight-dash{
  font-size: clamp(0.75em,2vw,1.4em);
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}